{% extends "base.html" %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Availabe assistance offers:</h2>
  <div>
    <a
      href="{{ url_for('agency_dashboard', agency_id=agency_id) }}"
      class="btn btn-primary me-2"
      >Manage Programs</a
    >
    <a
      href="{{ url_for('agency_students', agency_id=agency_id) }}"
      class="btn btn-primary"
      >Manage Students</a
    >
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Advisor Name</th>
      <th>Country of Residence</th>
      <th>University</th>
      <th>Program Name</th>
      <th>Assistance Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for advisor_proposal in advisors_list: %}
    <tr>
      <td>{{advisor_proposal['name'] }}</td>
      <td>{{advisor_proposal['country of residence']}}</td>
      <td>{{advisor_proposal['program name'] }}</td>
      <td>{{advisor_proposal['university'] }}</td>
      <td>{{advisor_proposal['assistance status']}}</td>
      <td>
        <button
          class="btn btn-sm btn-info"
          data-toggle="modal"
          data-target="#assignModal{{ advisor_proposal['id'] }}"
        >
          Edit
        </button>
        <!-- <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Open modal for @mdo
        </button> -->
      </td>
    </tr>

    <!-- Modal for assigning student -->
    <div
      class="modal fade"
      id="assignModal{{ advisor_proposal['id'] }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="assignModalLabel{{ advisor_proposal['id'] }}"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form
            method="POST"
            action="{{ url_for('agency_advisors', agency_id=agency_id) }}"
          >
            <div class="modal-header">
              <h5
                class="modal-title"
                id="assignModalLabel{{ advisor_proposal['id'] }}"
              >
                Assistance Status
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Select Student -->
              <div class="form-group">
                <input
                  type="hidden"
                  name="appli_id"
                  value="{{ advisor_proposal['id'] }}"
                />
                <label for="studentSelect{{ advisor_proposal['id'] }}"
                  >Change Assistance Status</label
                >
                <select
                  name="assistance_approval"
                  id="studentSelect{{ advisor_proposal['id'] }}"
                  class="form-control"
                  required
                >
                  {% if advisor_proposal['assistance status']== "Approved" %}

                  <option value="1" selected>Approved</option>
                  <option value="0">Rejected</option>
                  {% else %}
                  <option value="1">Approved</option>
                  <option value="0" selected>Rejected</option>
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Assign</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id="exampleModalLabel"
            >
              New message to @mdo
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" data--h-bstatus="0OBSERVED">
            <form data--h-bstatus="0OBSERVED">
              <div class="mb-3" data--h-bstatus="0OBSERVED">
                <label
                  for="recipient-name"
                  class="col-form-label"
                  data--h-bstatus="0OBSERVED"
                  >Recipient:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  data--h-bstatus="0OBSERVED"
                />
              </div>
              <div class="mb-3" data--h-bstatus="0OBSERVED">
                <label
                  for="message-text"
                  class="col-form-label"
                  data--h-bstatus="0OBSERVED"
                  >Message:</label
                >
                <textarea
                  class="form-control"
                  id="message-text"
                  data--h-bstatus="0OBSERVED"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer" data--h-bstatus="0OBSERVED">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              data--h-bstatus="0OBSERVED"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data--h-bstatus="0OBSERVED"
            >
              Send message
            </button>
          </div>
        </div>
      </div>
    </div> -->

    {% else %}
    <tr>
      <td colspan="8">No advisor has offered his assistance!</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
