{% extends "base.html" %} {% block content %}
<h2>Agency Dashboard - Advisors</h2>
<table class="table">
  <thead>
    <tr>
      <th>Advisor Name</th>
      <th>Country of Residence</th>
      <th>University</th>
      <th>Program Name</th>
      <th>Assistance Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for advisor_proposal in advisors_list: %}
    <tr>
      <td>{{advisor_proposal['name'] }}</td>
      <td>{{advisor_proposal['country of residence']}}</td>
      <td>{{advisor_proposal['program name'] }}</td>
      <td>{{advisor_proposal['university'] }}</td>
      <td>{{advisor_proposal['assistance status']}}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Open modal for @mdo
        </button>
      </td>
    </tr>

    <!-- Modal for assigning student -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id="exampleModalLabel"
              data--h-bstatus="0OBSERVED"
            >
              New message to @mdo
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              data--h-bstatus="0OBSERVED"
            ></button>
          </div>
          <div class="modal-body" data--h-bstatus="0OBSERVED">
            <form data--h-bstatus="0OBSERVED">
              <div class="mb-3" data--h-bstatus="0OBSERVED">
                <label
                  for="recipient-name"
                  class="col-form-label"
                  data--h-bstatus="0OBSERVED"
                  >Recipient:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  data--h-bstatus="0OBSERVED"
                />
              </div>
              <div class="mb-3" data--h-bstatus="0OBSERVED">
                <label
                  for="message-text"
                  class="col-form-label"
                  data--h-bstatus="0OBSERVED"
                  >Message:</label
                >
                <textarea
                  class="form-control"
                  id="message-text"
                  data--h-bstatus="0OBSERVED"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer" data--h-bstatus="0OBSERVED">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              data--h-bstatus="0OBSERVED"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data--h-bstatus="0OBSERVED"
            >
              Send message
            </button>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <tr>
      <td colspan="8">No advisor has offered his assistance!</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
