{% extends "base.html" %} {% block content %}
<h2>Agency Registration</h2>
<form method="POST" action="{{ url_for('register_agency') }}">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label }} {{ form.name(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.password.label }} {{ form.password(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.confirm_password.label }} {{
    form.confirm_password(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.description.label }} {{ form.description(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.website.label }} {{ form.website(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>
</form>
{% endblock %}
