{% extends "base.html" %} {% block content %}
<h2>My Profile</h2>
<form method="POST">
  <div class="mb-3">
    <label>Full Name</label>
    <input
      type="text"
      name="full_name"
      class="form-control"
      value="{{ student.full_name }}"
      required
    />
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input
      type="email"
      disabled
      name="email"
      class="form-control"
      value="{{ student.email }}"
      required
    />
  </div>
  <div class="mb-3">
    <label>Phone Number</label>
    <input
      type="text"
      name="phone_number"
      class="form-control"
      value="{{ student.phone_number }}"
    />
  </div>
  <div class="mb-3">
    <label>Nationality</label>
    <input
      type="text"
      name="nationality"
      class="form-control"
      value="{{ student.nationality }}"
    />
  </div>
  <div class="mb-3">
    <label>Country of Residence</label>
    <input
      type="text"
      name="country_of_residence"
      class="form-control"
      value="{{ student.country_of_residence }}"
    />
  </div>
  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
{% endblock %}
